<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>



</script>




    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1 {
            text-align: center;
            font-size: 3vw;
            position: relative
        }

        @media screen and (max-width:828px) {
            h1 {
                font-size: 4vw;
            }
        }

        @media screen and (max-width:462px) {
            h1 {
                font-size: 6vw;
            }
        }

        .table-container {
            width:
                100vw;
            max-height: 400px;
         
        }

        table {
            width: 90vw;
            border-collapse: collapse;
            border: 1.5px solid black;
            overflow-x: auto;
            margin: auto;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        @media screen and (max-width: 1024px) {

            table,
            thead,
            tbody,
            td,
            tr {
                display: block;
            }

            th {
                display: none;
            }
          

            td:nth-of-type(1):before {
                content: "S.No : ";
                font-weight:700 ;
                color: red;
            }

              td:nth-of-type(2):before {
                content: "Date : ";
                font-weight:700 ;
                 color: red;
            }

            td:nth-of-type(3):before {
                content: "First Name : ";
                font-weight:700 ;
                 color: red;
            }

            td:nth-of-type(4):before {
                content: "LastName: ";
                font-weight:700 ;
                 color: red; }
             td:nth-of-type(5):before { content: " Destination: ";
             font-weight:700 ;
              color: red; }
               td:nth-of-type(6):before {
                    content: "Email : ";
                    font-weight:700 ;
                     color: red;
                }

                td:nth-of-type(7):before {
                    content: "Number of Guests : ";
                    font-weight:700 ;
                     color: red;
                }

                td:nth-of-type(8):before {
                    content: "Check-in Date : ";
                    font-weight:700 ;
                     color: red;
                }

                td:nth-of-type(9):before {
                    content: "Check-out Date : ";
                    font-weight:700 ;
                     color: red;
                }

                td:nth-of-type(10):before {
                    content: "Special Request : ";
                    font-weight:700 ;
                     color: red;
                }
                  td:nth-of-type(11):before {
                    content: "Status : ";
                    font-weight:700 ;
                     color: red;
                }

        
            }

            .header{
                height: 70px;
                width: 100%;
                background: red;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;
            }
            .header a{
                height: 40px;
                width: 100px;
                background:black;
               text-decoration: none;
               color:white;
               text-align: center;
               font-size: 1.2rem;
               font-weight: 500;
               border-radius: 20px;
               box-shadow: 3px 3px 3px grey;
             
            }
    </style>
    
</head>

<body>

    <div class="table-conatiner">
        <div class="header">
                   <a href="/subcribe">Subcribe</a>
                    <a href="/contactInfo">Contact</a>
        </div>
        <h1>Visitors Data</h1>
        <table>
            <tr>
                <th>S.No</th>
                <th> Date</th> 
                <th>First Name</th>
                <th>Last Name</th>
                <th>Destination</th>
                <th>Email</th>
                <th>Number of Guests</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Special Request</th>
                  <th>Status</th>
                <th>Actions</th>
            </tr>

            {{#each formData}}
            <tr>
                <td>{{addOne @index}}</td>
                  <td>{{date this.submissionDate "DD-MM-YYYY"}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.destination}}</td>
                <td>{{this.email}}</td>
                <td>{{this.numberOfGuests}}</td>
                <td>{{date this.checkInDate "DD-MM-YYYY"}}</td>
                <td>{{date this.checkOutDate "DD-MM-YYYY"}}</td>
                <td>{{this.specialRequest}}</td>
                   <td id="status">{{this.status}}</td>
                <td>
                    <form action="/admin/confirm/{{this._id}}" method="post">
                        <button id="confirmButton" type="submit">Confirm</button>
                    </form>

                    <form action="/admin/delete/{{this._id}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>



</body>

</html>