<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <form action="/edit/{{user._id}}" method="POST">
        <input type="text" name="username" value="{{user.username}}">
        <input type="text" name="email" value="{{user.email}}">
        <input type="text" name="role" value="{{user.role}}">
        {{!-- <input type="password" name="password" value="{{user.password}}"> --}}
        <button type="submit">Save</button>
    </form>
</body>
</html>
